.delete-modal {
  background: #FFFFFF;
  position: absolute;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  &__close-btn {
    margin-bottom: 1.5625rem;
  }

  &__header {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  &__delete-action-btn-container {
    justify-self: flex-end;
  }

  &__cancel-btn,
  &__delete-btn {
    width: 163px;
    height: 36px;
    left: 196px;
    top: 607px;
    background: #C94515;
    color: #FFFFFF;
    border-radius: 20px;
    border: none;
  }

  &__cancel-btn {
    color: #5C667E;
    background: #FFFFFF;
    border: 1px solid #BDC5D5;
    box-sizing: border-box;
    border-radius: 20px;
  }
}