@font-face {
  font-family: "Titillium Web";
  src: url("../assets/fonts/TitilliumWeb-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../assets/fonts/TitilliumWeb-SemiBold.ttf");
  font-weight: Bold;
  font-style: normal;
  font-display: swap;
}

// @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');
