.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0;
  background: $background-color-lightGrey;
  width: 100%;
  // position: absolute;
  // bottom: 0;
  margin-top: auto;

  &__text {
    @extend %body-small;
    color: $secondary-color-slate;
  }
}
