html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  font-size: 16px;
  font-family: "Titillium Web";
  scroll-behavior: smooth;
  width: 100%;
}
a {
  display: flex;
  text-decoration: none;
  padding-left: 0;
  padding-right: 0;
}

.background {
  background: $background-color-lightGrey;
}
