.inv {
  position: absolute;
  left: 4.27%;
  right: 4.27%;
  top: 7.85%;
  bottom: 4.13%;
  background-color: white;
  margin: 6.5rem 1rem 0;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);

  &__heading {
    padding: 0 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    // padding: 2rem 12.75rem 1rem 1.5rem;
    @extend %page-header;
  }

  &__search-form {
    padding: 0 1.5rem;
  }

  &__search-bar {
    @extend %input;
    margin-bottom: 1rem;
  }

  &__search-btn {
    @extend %button-primary;
    margin-bottom: 1.5rem;
  }


  &__mobile-first-row-wrapper,
  &__mobile-second-row-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
  }

  &__inv-item-header,
  &__inv-status-header,
  &__inv-warehouse-header,
  &__inv-category-header,
  &__inv-qty-header {
    margin-top: 1rem;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 600;
    font-size: 0.7rem;
    line-height: 1rem;
    color: #5C667E;
    text-transform: uppercase;
  }

  &__inv-category-info,
  &__inv-qty-info,
  &__inv-warehouse-info {
    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 1.25rem;
    color: #13182C;
  }

  &__inv-item-info {
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.25rem;
    color: #2E66E6;
  }

  &__inv-item-icon {
    width: 1rem;
    height: 1rem;
  }

  &__item-icons-container {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 1.9rem 1.7rem;
  }
}
