.inventory {
  background: $primary-color-white;
  border-radius: 0.1875rem;
  box-shadow: 0 2px 5px rgba(19, 22, 44, 0.1);
  margin: 0 1rem;
  // position: relative;
  z-index: 0;

  @include tablet {
    margin: 0 2rem;
  }

  @include desktop {
    margin: 0 8.125rem;
  }

  // item styling
  &__sort-list-items {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
  }

  &__sort-list-items-left {
    border: 1px solid green;
    width: 50%;
  }

  &__sort-list-items-label {
    text-transform: uppercase;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    color: #5C667E;
  }

  &__sort-list-items-blue-item-name {
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #2E66E6;
  }

  &__sort-list-items-item-name {
    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #13182C;
  }

  &__sort-list-items-mobile-wrapper {
    display: flex;
    margin-bottom: 1rem;
  }

  &__header-wrapper {
    padding: 0 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;

    @include tablet {
      padding: 0 2rem;
      padding-top: 2rem;
      padding-bottom: 1.5rem;
      display: flex;
      justify-content: space-between;
    }

    @include desktop {
      padding: 0 2.5rem;
      padding-top: 2rem;
      padding-bottom: 1.5rem;
    }
  }

  &__heading {
    @extend %page-header;
  }

  &__search-add {
    @include tablet {
      width: 21rem;
      display: flex;
    }

    @include desktop {
      width: 25rem;
    }
  }

  &__search-label {
    position: relative;
  }

  &__searchbar {
    @extend %input;
    margin: 1rem 0;

    @include tablet {
      width: 11.5625rem;
      margin: 0 0.9rem 0 0;
      // display: inline-block;
    }

    @include desktop {
      width: 17.125rem;
    }
  }

  &__search-icon {
    position: absolute;
    top: 0.0625rem;
    right: 0.75rem;

    @include tablet {
      right: 2rem;
    }
  }

  &__button {
    @extend %button-primary;
    font-weight: normal;

    @include desktop {
      width: 140px;
    }
  }

  &__sort {
    display: none;

    @include tablet {
      width: 100%;
      height: 2.5rem;
      background: $background-color-lightGrey;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 2rem;
    }

    @include desktop {
      padding: 0 2.5rem;
    }
  }

  &__sort-list {
    border-bottom: 1px solid #bdc5d5;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;

    @include tablet {
      margin-top: unset;
      justify-content: space-evenly;
      align-items: center;
      padding: 1.125rem 2rem;
      border-bottom: 1px solid #bdc5d5;
    }
  }

  &__sort-list-left {
    display: flex;
    flex-direction: column;

    @include tablet {
    display: flex;
    align-items: center;
    width: 40%;
    flex-direction: row;
    }
  }

  &__sort-left {
    @include tablet {
      display: flex;
      flex-grow: 1;
    }

    @include desktop {
      max-width: 380px;
    }
  }

  &__sort-right {
    @include tablet {
      display: flex;
      flex-grow: 1;
    }
  }

  &__sort-category {
    display: flex;
    align-items: center;
  }

  &__sort-label {
    @extend %table-headers;
  }

  &__item {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    border-top: 1px solid #bdc5d5;

    &:nth-child(2) {
      @include tablet {
        border-top: none;
      }
    }

    @include tablet {
      padding: 1rem 2rem;
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    @include desktop {
      padding: 1rem 2.5rem;
    }
  }

  &__label {
    @extend %table-headers;
    margin-bottom: 0.25rem;

    &:nth-child(n + 2) {
      margin-top: 1rem;
    }

    @include tablet {
      display: none;
    }
  }

  &__item-name-container {
    display: flex;
    align-items: center;
    width: 8.765625rem;

    @include tablet {
      // width: 10rem;
      flex-direction: row;
    }
  }

  &__item-category-container {
    margin-left: 2rem;
    margin-top: 1.5rem;

    @include tablet {
      margin: unset;
    }
  }

  // &__mobile-wrapper {
  //   display: flex;
  // }

  &__link {
    display: flex;
    align-items: flex-end;

    @include tablet {
      width: 9.375rem;
      flex-grow: 1;
    }
  }

  &__item-name {
    @extend %body-medium;
    color: $primary-color-indigo;
    display: inline;
  }

  &__icon--sort {
    height: 75%;
    margin-left: 0.25rem;
  }

  &__icon--chevron {
    margin-left: 0.25rem;
    height: 1.2rem;

    @include tablet {
      height: 1.3rem;
    }
  }

  &__category {
    @extend %body-medium;

    @include tablet {
      max-width: 100px;
      flex-grow: 1;
    }

    @include desktop {
      width: 0.5rem;
    }
  }

  &__item-right-container {
    width: 33.4375vw;
    margin-left: 1.5rem;

    @include tablet {
      // width: 19.375rem;
      width: unset;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
    }
  }

  &__status-container {
    @include tablet {
    margin-bottom: 0;
    width: 60%;
    margin-bottom: 1.5rem;
    }  
  }

  &__status {
    @extend %body-medium;

    @include tablet {
      width: 7.5rem;
      flex-grow: 1;
    }
  }

  &__quantity-container,
  &__warehouse-container {
    & .inventory__label {
      margin-top: 1rem;

      @include tablet {
        display: none;
      }
    }

    @include tablet {
      // width: 11.8125rem;
      flex-grow: 1;
    }
  }

  &__quantity-container {
    @include tablet {
      height: 100%;
      width: 5%;
    }
    
    @include desktop {
      max-width: 143.75px;
    }
  }

  &__warehouse-container {
    height: 100%;
  }

  &__quantity,
  &__warehouse {
    @extend %body-medium; 
  }

  &__item-icons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25rem;
    padding: 0 1.6875rem 1.6875rem;

    @include tablet {
      width: 3.75rem;
      margin-top: 0;
    }
  }
}

.sort-inventory {
  @include tablet {
    width: 7.375rem;
    flex-grow: 1;
  }

  @include desktop {
    max-width: 140.25px;
  }
}

.sort-category {
  @include tablet {
    width: 5.5625rem;
    flex-grow: 1;
    text-transform: uppercase;
  }

  @include desktop {
    max-width: 240px;
  }
}

.sort-status {
  @include tablet {
    width: 6.5625rem;
    flex-grow: 1;
    text-transform: uppercase;
  }

  @include desktop {
    width: 10%;
  }
}

.sort-qty {
  @include tablet {
    width: 3.8125rem;
    flex-grow: 1;
  }

  @include desktop {
    // max-width: 141.75px;
  }
}

.sort-inventory {
  text-transform: uppercase;
}

.sort-actions {
  @include tablet {
    width: 3.75rem;
    text-align: right;
  }
}

// modal
.delete-modal {
  background: #FFFFFF;
  position: absolute;
  height: 100vh;
  z-index: 1000000000;

  &__tablet-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &__close-btn {
      margin-bottom: 5px;
      align-self: flex-end;
      padding: 1.3125rem 1.3125rem 0 0;
  }

  &__header,
  &__warning,
  &__delete-action-btn-container {
    padding: 0 1rem;
  }

  &__header {
    z-index: 10;
    // background: green; // temp 
    margin-bottom: 1rem;
    font-size: 1.75rem;
  }

  &__warning {
    margin-bottom: 410px;
  }

  &__cancel-btn,
  &__delete-btn {
    background: #FFFFFF;
    border: 1px solid #BDC5D5;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    width: 10.1875rem;
  }

  &__delete-btn {
    margin-left: 1rem;
    color: #FFFFFF;
    background: #C94515;
  }

  &__delete-action-btn-container {
    justify-self: flex-end;
  }

    

  @include tablet {
    top: 185px;
    left: 48px;
    width: 672px;
    height: 262px;

    

    &__header,
    &__warning,
    &__delete-action-btn-container {
      padding: 0 4rem;
    }

    &__delete-action-btn-container {
      align-self: flex-end;
    }

    &__header {
      margin-bottom: 1rem;
      font-size: 2rem;
    }

    &__warning {
      margin-bottom: 2rem;
    }

    &__cancel-btn,
    &__delete-btn {
      background: #FFFFFF;
      border: 1px solid #BDC5D5;
      box-sizing: border-box;
      border-radius: 20px;
      padding: 0.5rem 1rem;
    }

    &__delete-btn {
      margin-left: 1rem;
      color: #FFFFFF;
      background: #C94515;
    }
  }

  @include desktop {
    left: 304px;
  }
}