@import "./variables";

//various breakpoints //
@mixin mobile {
  @media (min-width: $mobile-breakpoint) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

// Fonts mixins  //
@mixin fonts($size, $line-height, $weight) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}
