.newWarehouse {
  @include mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    // position: relative;
    left: 4.27%;
    right: 4.27%;
    z-index: 10;
    height: auto;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 0.1875rem;
    background: $primary-color-white;

    &__arr-heading-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    &__wh-heading {
      display: flex;
      @include fonts(1.75rem, 2.25rem, 600);
      font-style: normal;
      color: $primary-color-black;
      height: 2.25rem;
    }
    &__wh-details-container,
    &__wh-contacts-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      border-top: 1px solid $secondary-color-cloud;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &__details-heading,
    &__contacts-heading {
      display: flex;
      align-items: center;
      height: 1.75rem;
      @include fonts(1.25rem, 1.75rem, 600);
      font-style: normal;
      margin-top: 1.5rem;
      color: $primary-color-black;
    }
    &__wh-label {
      display: flex;
      height: 1.25rem;
      @include fonts(0.8125rem, 1.25rem, 600);
      font-style: normal;
      margin-top: 1rem;
    }
    &__input-field {
      display: flex;
      border: 1px solid $secondary-color-cloud;
      box-sizing: border-box;
      border-radius: 1.25rem;
      height: 2.25rem;
      width: 18.4375rem;
      padding-left: 1rem;
      background: $primary-color-white;
    }
    &__action-btn-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 21.4375rem;
      height: 4.25rem;
      background: rgba(247, 248, 249, 0.7);
      border-radius: 0px 0px 3px 3px;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    &__cancel-btn,
    &__add-wh-btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 8.6875rem;
      height: 2.25rem;

      border: 1px solid $secondary-color-cloud;
      box-sizing: border-box;
      border-radius: 1.25rem;
      background: $primary-color-white;
      @include fonts(0.8125rem, 1.25rem, 600);
      font-style: normal;

      &--colorAccent {
        background: $primary-color-indigo;
        color: $primary-color-white;
      }
    }
  }
  // @include tablet {
  //   &__tabletDesk {
  //     display: flex;
  //     justify-content: space-between;
  //   }
  // }
}
