.newWarehouse {
  @include mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 4.27%;
    right: 4.27%;
    z-index: 10;
    height: auto;

    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 0.1875rem;
    background: $primary-color-white;
    align-items: center;

    border: 1px solid red;
    &__arr-heading-container {
      display: flex;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $secondary-color-cloud;
    }
    &__wh-heading {
      display: flex;
      align-items: center;
      @include fonts(1.75rem, 2.25rem, 600);
      font-style: normal;
      color: $primary-color-black;
      height: 2.25rem;
    }
    &__wh-details-container,
    &__wh-contacts-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      border: 1px solid black;
    }
    &__wh-details-container {
      border-bottom: 1px solid $secondary-color-cloud;
    }

    &__details-heading,
    &__contacts-heading {
      display: flex;
      align-items: center;
      height: 1.75rem;
      @include fonts(1.25rem, 1.75rem, 600);
      font-style: normal;
      margin-top: 1.5rem;
      color: $primary-color-black;
    }
    &__wh-label {
      display: flex;
      height: 1.25rem;
      @include fonts(0.8125rem, 1.25rem, 600);
      font-style: normal;
      margin-top: 1rem;
    }
    &__input-field {
      display: flex;
      border: 1px solid #bdc5d5;
      box-sizing: border-box;
      border-radius: 20px;
      height: 36px;
      width: 295px;
      padding-left: 1rem;
      background: $primary-color-white;
    }
    &__wh-contacts-container {
      padding-bottom: 2rem;
    }
    &__CTAs {
      display: flex;
      width: 343px;
      height: 68px;
      position: relative;

      background: rgba(247, 248, 249, 0.7);
      border-radius: 0px 0px 3px 3px;
      border: 1px solid lime;
    }
    &__cancel-btn,
    &__add-wh-btn {
      display: flex;

      flex-direction: row;
      padding: 8px 51px;

      //   position: absolute;
      width: 139px;
      height: 36px;
      left: 40px;
      top: 1006px;

      border: 1px solid #bdc5d5;
      box-sizing: border-box;
      border-radius: 20px;

      background: $primary-color-white;
    }
  }
}
