//breakpoints //
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;

//Primary-colors..//
$primary-color-black: #13182c;
$primary-color-indigo: #2e66e6;
$primary-color-white: #ffffff;
//Secondary-colors.. //
$secondary-color-slate: #5c667e;
$secondary-color-cloud: #bdc5d5;
//Background-colors.. //
$background-color-graphite: #232940;
$background-color-lightGrey: #f7f8f9;
//Supporting-colors.. //
$supporting-color-green: #158463;
$supporting-color-red: #c94515;
