.warehouses {
  background: white;
  border-radius: 0.1875rem;
  box-shadow: 0 2px 5px rgba(19, 22, 44, 0.1);
  padding: 0 1.5rem;
  margin: 0 1rem;

  &__header-container {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }

  &__heading {
  }

  &__searchbar {
    @extend %input;
  }

  &__button {
    @extend %button;
  }

  &__button-text {
  }

  &__list {
  }

  &__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    border-top: 1px solid #bdc5d5;
  }

  &__item-left-container {
    flex: 1 1 1;
    width: 33.4375vw;
  }

  &__link {
    display: flex;
  }

  &__text-location {
  }

  &__icon {
  }

  &__text-address {
  }

  &__item-right-container {
    flex: 1 1 1;
    width: 33.4375vw;
  }

  &__text-contact-name {
  }

  &__text-contact-phone {
  }

  &__text-contact-email {
  }

  &__item-icons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
