.warehouse {
  background: $primary-color-white;
  border-radius: 0.1875rem;
  box-shadow: 0 2px 5px rgba(19, 22, 44, 0.1);
  margin: 0 1rem;
  position: relative;
  z-index: 10;

  @include tablet {
    margin: 0 2rem;
  }

  @include desktop {
    margin: 0 8.125rem;
  }

  &__header-container {
    padding: 0 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;

    @include tablet {
      padding: 0 2rem;
      padding-top: 2rem;
      padding-bottom: 1.25rem;
    }

    @include desktop {
      padding: 0 2.5rem;
      padding-top: 2rem;
      padding-bottom: 1.5rem;
    }
  }

  &__back-name {
    display: flex;
    align-items: center;
  }

  &__icon {
  }

  &__icon--back {
    padding-right: 0.75rem;
  }

  &__icon--edit {
    flex-shrink: 0;
    height: 1.3rem;
    filter: brightness(100);

    @include tablet {
      height: 1.15rem;
      margin-right: 0.25rem;
    }
  }

  &__icon--chevron {
    margin-left: 0.25rem;
    height: 1.2rem;

    @include tablet {
      height: 1.3rem;
    }
  }

  &__icon--delete {
    @include tablet {
      margin-right: 0.75rem;
    }
  }

  &__heading {
    @extend %page-header;
  }

  &__button {
    @extend %button-primary;
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      width: unset;
    }
  }

  &__button-text {
    display: none;
    @extend %labels-links-buttons;
    color: $primary-color-white;
    font-weight: normal;

    @include tablet {
      display: inline-block;
    }
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1.5rem;
    border-top: 1px solid $secondary-color-cloud;

    @include tablet {
      padding: 1.5rem 2rem;
      justify-content: space-between;
    }

    @include desktop {
      padding: 1rem 2.5rem;
    }
  }

  &__address {
    width: 100%;

    @include tablet {
      width: 15.375rem;
      border-right: 1px solid $secondary-color-cloud;
      margin-right: 2.5rem;
    }

    @include desktop {
      width: 23.125rem;
    }
  }

  &__contact {
    width: 100%;
    margin-top: 1rem;
    display: flex;

    @include tablet {
      width: unset;
      flex-grow: 1;
      margin: 0;
    }
  }

  &__contact-name {
    width: 50%;
    padding-right: 1rem;

    @include tablet {
      width: 10.375rem;
    }

    @include desktop {
      width: 15.3125rem;
      padding: 0;
      margin-right: 0.55rem;
    }
  }

  &__contact__info {
    width: 50%;

    @include tablet {
      width: unset;
    }
  }

  &__label {
    @extend %table-headers;
    margin-bottom: 0.25rem;

    &:nth-child(n + 2) {
      margin-top: 1rem;
    }

    @include tablet {
      display: none;
    }
  }

  &__label--perm {
    @include tablet {
      display: block;
    }
  }

  // text modifiers
  &__text {
    @extend %body-medium;
  }

  &__text--link {
    color: $primary-color-indigo;
  }

  &__text--status {
    @extend %status-in-stock;
  }

  // text adjustments starting at tablet
  &__link--item {
    @include tablet {
      width: 9.375rem;
      flex-grow: 1;
    }

    @include desktop {
      width: 13.75rem;
    }
  }

  &__text--category {
    @include tablet {
      width: 7.5rem;
      flex-grow: 1;
    }

    @include desktop {
      width: 10.875rem;
    }
  }

  &__span--status {
    @include tablet {
      width: 11.375rem;
      flex-grow: 1;
    }

    @include desktop {
      width: 16.25rem;
    }
  }

  &__text--qty {
    @include tablet {
      width: 5.875rem;
      flex-grow: 1;
    }

    @include desktop {
      width: 10.875rem;
    }
  }

  &__inv-list {
  }

  &__inv-item {
    padding: 1rem 1.5rem 1.5rem;
    border-top: 1px solid $secondary-color-cloud;
    display: flex;
    flex-wrap: wrap;

    &:nth-child(2) {
      @include tablet {
        border-top: none;
      }
    }

    @include tablet {
      padding: 1.125rem 2rem;
      justify-content: space-between;
    }

    @include desktop {
      padding: 1.125rem 2.5rem;
    }
  }

  &__link {
    display: flex;
    align-items: flex-end;
  }

  &__left-container {
    width: 50%;

    @include tablet {
      width: unset;
      display: flex;
      align-items: center;
      // justify-content: space-between;
      flex-grow: 1;
    }
  }

  &__right-container {
    width: 50%;

    @include tablet {
      width: unset;
      display: flex;
      align-items: center;
      flex-grow: 1;
    }
  }

  &__icons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25rem;

    @include tablet {
      width: 5.75rem;
      margin-top: 0;
      justify-content: flex-end;
    }
  }

  // category sort bar, only displays on tablet & desktop
  &__sort {
    display: none;

    @include tablet {
      width: 100%;
      height: 2.5rem;
      background: $background-color-lightGrey;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 2rem;
    }

    @include desktop {
      padding: 0 2.5rem;
    }
  }

  &__sort-left {
    @include tablet {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
    }
  }

  &__sort-right {
    @include tablet {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
    }
  }

  &__sort-category-bar {
    display: flex;
    align-items: center;
  }

  &__sort-label {
    @extend %table-headers;
  }

  &__icon--sort {
    height: 75%;
    margin-left: 0.25rem;
  }

  .sort-inv-item {
    @include tablet {
      width: 9.375rem;
      flex-grow: 1;
    }

    @include desktop {
      width: 13.75rem;
    }
  }

  .sort-category {
    @include tablet {
      width: 7.5rem;
      flex-grow: 1;
    }

    @include desktop {
      width: 10.875rem;
    }
  }

  .sort-status {
    @include tablet {
      width: 11.375rem;
      flex-grow: 1;
    }

    @include desktop {
      width: 16.25rem;
    }
  }

  .sort-qty {
    @include tablet {
      width: 5.875rem;
      flex-grow: 1;
    }

    @include desktop {
      width: 10.875rem;
    }
  }

  .sort-actions {
    @include tablet {
      width: 5.75rem;
      text-align: right;
    }
  }
}
